* {
  font-family: sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

button {
  width: 5rem;
  border-radius: 3px;
  padding: 5px 2px;
  border: none;
  background-color: rgb(82, 23, 109);
  color: white;
}

img {
  max-height: 200px;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

input {
  border-radius: 5px;
  border-width: 1px;
  height: 30px;
}

label {
  font-weight: bold;
}

.purple-background {
  background-color: rgb(82, 23, 109);
}

.white-text {
  font-weight: 300;
  color: white;
}

.width-100-percent {
  width: 100%;
}

.img-fill {
  object-fit: cover;
}

.button-right {
  text-align: right;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-5 {
  padding: 5px 0;
}

.margin-top-bot-10 {
  margin: 10px 0;
}

.flex {
  display: flex;
}

.center {
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.entries-white {
  color: white;
  font-weight: normal;
  align-items: center;
}

.new-button {
  width: 50px;
  background-color: rgb(82, 23, 109);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
  }

  form {
    width: 100%;
  }

  img {
    max-height: 400px;
  }

  li {
    padding: 20px 0;
  }

  p {
    padding: 15px 0;
  }

  .purple-background {
    background-color: rgb(82, 23, 109);
    padding: 10px 0;
  }

  .desktop-top-margin {
    margin-top: 15px;
  }

  .desktop-entry-perc-width {
    width: 48%;
  }

  .desktop-entry-space-between {
    display: flex;
    justify-content: space-between;
  }
}
